{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"filepath": "c:\\Meus Projetos\\my-restaurant-search\\src\\App.js"
}
